In [ ]:
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

# 판다스 자료구조

## 시리즈(Series) 선언

In [ ]:
'''
    딕셔너리 => 시리즈 변환
    pandas.Sereis(딕셔너리)
'''

import pandas as pd

dict_data = {'a':1, 'b':2, 'c':3}

series = pd.Series(dict_data)

print(type(series))
print(series)

## 인덱스 구조

In [ ]:
'''
    인덱스 배열: Series.index
    데이터 값 배열: Series.values
'''
import pandas as pd

lis_data = ['2021-04-26', '철수', '남', 100, True]
series = pd.Series(lis_data)

print(series)
print('\n')
print(series.index)
print('\n')
print(series.values)

## 시리즈 원소 선택

In [ ]:
import pandas as pd

lis_data = ['2021-04-26', '철수', '남', 100, True]
index_names = ['날짜', '이름', '성별', '점수', '전학여부']

series = pd.Series(lis_data, index = index_names)

print(series)
print('\n')
print(series[0], series['이름'])
print('\n')
print(series[[0, 2]])
print('\n')
print(series[['날짜', '전학여부']])

In [ ]:
print(series)
print('\n')
print(series[2:5])
print('\n')
print(series['성별':'전학여부'])

## 데이터프레임 (DataFrame) 선언

In [ ]:
import pandas as pd

dic_data = {
    'col1': [0,1,2],
    'col2': [3,4,5],
    'col3': [6,7,8],
    'col4': [9,10,11]
}

df = pd.DataFrame(dic_data)

print(type(df))
df

## 행/열 이름 설정

In [ ]:
import pandas as pd

df = pd.DataFrame(
    [['남', 30, '경기고'], ['여', 25, '서울고']],
    index = ['기범', '혜리'],
    columns = ['gender', 'age', 'school']
)

print(df)
print('\n')
print(df.index)
print('\n')
print(df.values)

In [ ]:
print(df)

In [ ]:
df.index = ['이름1', '이름2']
df.columns = ['성별', '연령', '학교']
print(df)

In [ ]:
df.rename(columns = {'gender':'성별', 'age':'연령', 'school':'학교'})
df.rename(index = {'기범':'이름1', '혜리': '이름2'})
print(df)

## 행 삭제

In [ ]:
import pandas as pd

exam_data = {
    '국어':[100, 80, 30], '수학':[90, 80, 50],
    '영어':[100, 40, 90], '음악':[80, 100, 40]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽'])

print(df)
print('\n')

df2 = df[:]
df2.drop('기범', inplace = True)
print(df2)
print('\n')

df3 = df[:]
df3.drop(['기범', '동엽'], axis = 0, inplace = True)
print(df3)

## 열 삭제

In [ ]:
exam_data = {
    '국어':[100, 80, 30], '수학':[90, 80, 50],
    '영어':[100, 40, 90], '음악':[80, 100, 40]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽'])

print(df)
print('\n')

df2 = df[:]
df2.drop('국어', axis = 1, inplace = True)
print(df2)
print('\n')

df3 = df[:]
df3.drop(['국어', '음악'], axis = 1, inplace = True)
print(df3)

## 행 선택

In [ ]:
exam_data = {
    '국어':[100, 80, 30], '수학':[90, 80, 50],
    '영어':[100, 40, 90], '음악':[80, 100, 40]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽'])

print(df)
print('\n')

location = df.loc[['기범','혜리']]
print(location)
print('\n')

ilocation = df.iloc[[1, 2]]
print(ilocation)

## iloc 활용

In [ ]:
exam_data = {
    '국어':[100, 80, 30, 90], '수학':[90, 80, 50, 30],
    '영어':[100, 40, 90, 80], '음악':[80, 100, 40, 50]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽', '나래'])

print(df)
print('\n')

df1 = df.iloc[0:3:2]
print(df1)
print('\n')

df2 = df.iloc[::-1]
print(df2)

## 열 선택

In [ ]:
exam_data = {
    '국어':[100, 80, 30], '수학':[90, 80, 50],
    '영어':[100, 40, 90], '음악':[80, 100, 40]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽'])

print(df)
print('\n')

col1 = df['국어']
print(col1)
print('\n')

df1 = df[['영어', '음악']]
print(df1)

## 원소 선택

In [ ]:
exam_data = {
    '국어':[100, 80, 30, 90], '수학':[90, 80, 50, 30],
    '영어':[100, 40, 90, 80], '음악':[80, 100, 40, 50]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽', '나래'])

print(df)
print('\n')

elem1 = df.loc['혜리', '영어']
print('혜리의 영어 점수:', elem1)

elem2 = df.iloc[0, 3]
print('기범(0)의 음악(3) 점수', elem2)

## 행 추가

In [ ]:
exam_data = {
    '이름':['기범', '혜리', '동엽'],
    '국어':[100, 80, 30], '수학':[90, 80, 50],
    '영어':[100, 40, 90], '음악':[80, 100, 40]
}
df = pd.DataFrame(exam_data)

print(df)
print('\n')

df.loc[4] = ['동현', 80, 90, 30, 40]
print(df)
print('\n')

df.loc[5] = df.loc[0]
print(df)

## 열 추가

In [ ]:
exam_data = {
    '국어':[100, 80, 30, 90], '수학':[90, 80, 50, 30],
    '영어':[100, 40, 90, 80], '음악':[80, 100, 40, 50]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽', '나래'])

print(df)
print('\n')

df['미술'] = 70
print(df)
print('\n')

df['체육'] = [10, 20, 30, 40]
print(df)

## 원소 값 변경

In [ ]:
exam_data = {
    '국어':[100, 80, 30, 90], '수학':[90, 80, 50, 30],
    '영어':[100, 40, 90, 80], '음악':[80, 100, 40, 50]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽', '나래'])

print(df)
print('\n')

df.loc['혜리', '영어'] = 80
df.iloc[0, 3] = 30

print(df)

## 행/열 위치 바꾸기 (transpose)

In [ ]:
exam_data = {
    '국어':[100, 80, 30, 90], '수학':[90, 80, 50, 30],
    '영어':[100, 40, 90, 80], '음악':[80, 100, 40, 50]
}
df = pd.DataFrame(exam_data, index = ['기범', '혜리', '동엽', '나래'])

print(df)
print('\n')

df = df.transpose()
print(df)
print('\n')

df = df.T
print(df)

## 데이터 프레임 정렬

In [ ]:
import pandas as pd

dic_data = {
    'col1': [0,1,2],
    'col2': [5,4,3],
    'col3': [6,7,8],
    'col4': [9,11,10]
}

df = pd.DataFrame(dic_data, index = ['row1', 'row2', 'row3'])
print(df)
print('\n')

idf = df.sort_index(ascending=False)
print(idf)

In [ ]:
import pandas as pd

dic_data = {
    'col1': [0,1,2],
    'col2': [5,4,3],
    'col3': [6,7,8],
    'col4': [9,11,10]
}

df = pd.DataFrame(dic_data, index = ['row1', 'row2', 'row3'])
print(df)
print('\n')

idf = df.sort_values(by = 'col4', ascending=True)
print(idf)